@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.navigation__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.feature-item__link, .navigation__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}

.h3-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.12em;
}

.emphasis {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__bottom {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.top-select__label {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__additional-info, .gallery__container, .features-01__bottom-container, .hero__container, .social-icons, .navigation__links-box, .navigation__logo-box, .navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info, .footer__link, .footer__logo, .social-icons__icon, .navigation__link, .navigation__logo-box {
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
.footer__info:hover, .footer__link:hover, .footer__logo:hover, .social-icons__icon:hover, .navigation__link:hover, .navigation__logo-box:hover {
  opacity: 0.7;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.invisible-illustration {
  visibility: hidden;
}

body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
}
body.lock {
  overflow: hidden;
}

@media (max-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.top-select {
  color: #2B2E4A !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: fixed;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;
  z-index: 500;
  background: #fff;
  -webkit-box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.08), 0px 8px 16px -6px rgba(24, 39, 75, 0.05);
          box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.08), 0px 8px 16px -6px rgba(24, 39, 75, 0.05);
  height: 90px;
}
.top-select::-webkit-scrollbar {
  display: none;
}
.top-select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.top-select__item {
  padding: 18px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 175px;
  -webkit-transition: background 0.1s ease, color 0.05s linear;
  transition: background 0.1s ease, color 0.05s linear;
}
@media (max-width: 1536px) {
  .top-select__item {
    min-width: 181px;
  }
}
@media (max-width: 1440px) {
  .top-select__item {
    min-width: 170px;
  }
}
@media (max-width: 1366px) {
  .top-select__item {
    min-width: 181px;
  }
}
@media (max-width: 1280px) {
  .top-select__item {
    min-width: 196px;
  }
}
@media (max-width: 1024px) {
  .top-select__item {
    min-width: 187px;
  }
}
@media (max-width: 823px) {
  .top-select__item {
    min-width: 182px;
  }
}
@media (max-width: 810px) {
  .top-select__item {
    min-width: 179px;
  }
}
@media (max-width: 768px) {
  .top-select__item {
    min-width: 170px;
  }
}
@media (max-width: 736px) {
  .top-select__item {
    min-width: 164px;
  }
}
@media (max-width: 731px) {
  .top-select__item {
    min-width: 161px;
  }
}
@media (max-width: 667px) {
  .top-select__item {
    min-width: 190px;
  }
}
@media (max-width: 640px) {
  .top-select__item {
    min-width: 182px;
  }
}
@media (max-width: 568px) {
  .top-select__item {
    min-width: 163px;
  }
}
@media (max-width: 540px) {
  .top-select__item {
    min-width: 158px;
  }
}
@media (max-width: 414px) {
  .top-select__item {
    min-width: 174px;
  }
}
@media (max-width: 412px) {
  .top-select__item {
    min-width: 172px;
  }
}
@media (max-width: 390px) {
  .top-select__item {
    min-width: 163px;
  }
}
@media (max-width: 384px) {
  .top-select__item {
    min-width: 160px;
  }
}
@media (max-width: 375px) {
  .top-select__item {
    min-width: 158px;
  }
}
@media (max-width: 360px) {
  .top-select__item {
    min-width: 230px;
  }
}
@media (max-width: 280px) {
  .top-select__item {
    min-width: 187px;
  }
}
.top-select__item:hover {
  cursor: pointer;
}
.top-select__item:nth-child(1):hover {
  background: rgba(55, 66, 250, 0.1);
}
.top-select__item:nth-child(1).selected-color {
  background: rgba(55, 66, 250, 0.1);
  color: #3742FA;
  border-bottom: 5px solid #3742FA;
  padding-bottom: 15px;
}
.top-select__item:nth-child(2):hover {
  background: rgba(238, 82, 83, 0.1);
}
.top-select__item:nth-child(2).selected-color {
  background: rgba(238, 82, 83, 0.1);
  color: #EE5253;
  border-bottom: 5px solid #EE5253;
  padding-bottom: 15px;
}
.top-select__item:nth-child(3) {
  background: #1E1633;
  color: #FEF8FD;
}
.top-select__item:nth-child(3):hover {
  background: #39303B;
}
.top-select__item:nth-child(3).selected-color {
  background: #39303B;
  color: #ffec78;
  border-bottom: 5px solid #ffec78;
  padding-bottom: 15px;
}
.top-select__item:nth-child(4):hover {
  background: rgba(233, 30, 99, 0.1);
}
.top-select__item:nth-child(4).selected-color {
  background: rgba(233, 30, 99, 0.1);
  color: #e91e63;
  border-bottom: 5px solid #e91e63;
  padding-bottom: 15px;
}
.top-select__item:nth-child(5) {
  background: #000;
  color: #fff;
}
.top-select__item:nth-child(5):hover {
  background: #1F1B0D;
}
.top-select__item:nth-child(5).selected-color {
  background: #1F1B0D;
  color: #ffe169;
  border-bottom: 5px solid #ffe169;
  padding-bottom: 15px;
}
.top-select__item:nth-child(6):hover {
  background: rgba(72, 52, 212, 0.1);
}
.top-select__item:nth-child(6).selected-color {
  background: rgba(72, 52, 212, 0.1);
  color: #4834d4;
  border-bottom: 5px solid #4834d4;
  padding-bottom: 15px;
}
.top-select__item:nth-child(7) {
  background: #000;
  color: #F8FAFC;
}
.top-select__item:nth-child(7):hover {
  background: #2E0B1D;
}
.top-select__item:nth-child(7).selected-color {
  background: #2E0B1D;
  color: #E6398F;
  border-bottom: 5px solid #E6398F;
  padding-bottom: 15px;
}
.top-select__item:nth-child(8):hover {
  background: rgba(4, 3, 32, 0.1);
}
.top-select__item:nth-child(8).selected-color {
  background: rgba(4, 3, 32, 0.1);
  color: #2B2E4A;
  border-bottom: 5px solid #2B2E4A;
  padding-bottom: 15px;
}
.top-select__item:nth-child(9):hover {
  background: rgba(5, 196, 107, 0.1);
}
.top-select__item:nth-child(9).selected-color {
  background: rgba(5, 196, 107, 0.1);
  color: #05c46b;
  border-bottom: 5px solid #05c46b;
  padding-bottom: 15px;
}
.top-select__item:nth-child(10):hover {
  background: rgba(56, 103, 214, 0.1);
}
.top-select__item:nth-child(10).selected-color {
  background: rgba(56, 103, 214, 0.1);
  color: #3867D6;
  border-bottom: 5px solid #3867D6;
  padding-bottom: 15px;
}
.top-select__item:nth-child(11):hover {
  background: rgba(255, 121, 63, 0.1);
}
.top-select__item.selected-color {
  background: rgba(255, 121, 63, 0.1);
  color: #ff793f;
  border-bottom: 5px solid #ff793f;
  padding-bottom: 15px;
}
.first-section {
  padding-top: 89px;
}

.navigation__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 64px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 576px) {
  .navigation__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.navigation__logo-box {
  z-index: 101;
  line-height: 0;
}
.navigation__logo-image {
  margin-right: 16px;
}
.navigation__logo-image svg {
  height: 34px;
  width: auto;
}
.navigation__links-box {
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.navigation__link {
  padding: 8px 12px;
}
.navigation__link:hover {
  cursor: pointer;
}
.navigation__burger {
  display: none;
}
.navigation__mobile-menu {
  display: none;
}
@media (max-width: 900px) {
  .navigation__burger {
    display: block;
    z-index: 101;
    position: relative;
    width: 24px;
    height: 21px;
    -webkit-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
    cursor: pointer;
  }
  .navigation__burger:hover {
    opacity: 0.7;
  }
  .navigation__burger:before, .navigation__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    right: 0;
    border-radius: 999px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .navigation__burger:before {
    top: 0;
    width: 66%;
  }
  .navigation__burger:after {
    bottom: 0;
    width: 66%;
  }
  .navigation__burger span {
    position: absolute;
    width: 100%;
    height: 3px;
    right: 0;
    top: 9px;
    border-radius: 999px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .navigation__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    width: 100%;
  }
  .navigation__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    width: 100%;
  }
  .navigation__burger.active span {
    -webkit-transform: scaleX(0) translateX(-50%);
            transform: scaleX(0) translateX(-50%);
  }
  .navigation__mobile-menu {
    overflow: auto;
    padding-top: 117px;
    padding-bottom: 176px;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 84px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
  }
  .navigation__mobile-menu .social-icons {
    padding-top: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
  .navigation__mobile-menu .navigation__link {
    margin-bottom: 40px;
  }
  .navigation__mobile-menu .fade-in-anim {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }
  .navigation__mobile-menu.active {
    visibility: visible;
  }
  .navigation__mobile-menu.active .navigation__link:nth-child(1) .fade-in-anim {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  .navigation__mobile-menu.active .navigation__link:nth-child(2) .fade-in-anim {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .navigation__mobile-menu.active .navigation__link:nth-child(3) .fade-in-anim {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .navigation__mobile-menu.active .navigation__link .fade-in-anim {
    opacity: 1;
  }
  .navigation__mobile-menu.active .social-icons__icon:nth-child(1) .fade-in-anim {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .navigation__mobile-menu.active .social-icons__icon:nth-child(2) .fade-in-anim {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
  .navigation__mobile-menu.active .social-icons__icon .fade-in-anim {
    opacity: 1;
  }
  .navigation__desktop-menu {
    display: none;
  }
}

.social-icons {
  line-height: 20px;
}
.social-icons__icon {
  margin-right: 16px;
  line-height: 0;
}
.social-icons__icon:last-child {
  margin-right: 0;
}
.social-icons__icon svg {
  height: 20px;
  width: auto;
}

.hero {
  overflow: hidden;
}
@media (max-width: 768px) {
  .hero__left-content {
    text-align: center;
  }
  .hero__subtitle {
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    max-width: 580px;
  }
}
.hero__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 64px;
  padding-top: 98px;
  padding-bottom: 98px;
}
@media (max-width: 768px) {
  .hero__container {
    padding-top: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 95px;
  }
  .hero__container .invisible-illustration {
    position: static !important;
    width: 100%;
  }
  .hero__container .hero__image-box {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .hero__container .hero__image {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .hero__container {
    padding: 32px 16px 64px;
  }
}
.hero__left-content {
  max-width: 664px;
}
.hero__title {
  margin-bottom: 16px;
}
.hero__subtitle {
  margin-bottom: 40px;
  max-width: 400px;
}
.hero__image-box {
  position: relative;
  height: 365px;
  margin-left: 20px;
  width: 50%;
}
@media (max-width: 768px) {
  .hero__image-box {
    height: 100%;
  }
}
.hero .invisible-illustration {
  position: absolute;
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
}

.accent-word {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 999px;
  -webkit-box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
          box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  -webkit-transition: background-color 0.15s ease, border 0.15s ease, color 0.15s ease, opacity 0.15s ease, -webkit-transform 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: background-color 0.15s ease, border 0.15s ease, color 0.15s ease, opacity 0.15s ease, -webkit-transform 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: background-color 0.15s ease, transform 0.15s ease, box-shadow 0.15s ease, border 0.15s ease, color 0.15s ease, opacity 0.15s ease;
  transition: background-color 0.15s ease, transform 0.15s ease, box-shadow 0.15s ease, border 0.15s ease, color 0.15s ease, opacity 0.15s ease, -webkit-transform 0.15s ease, -webkit-box-shadow 0.15s ease;
}
.button_primary:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 6px 8px -4px rgba(24, 39, 75, 0.06), 0px 12px 10px -4px rgba(24, 39, 75, 0.04);
          box-shadow: 0px 6px 8px -4px rgba(24, 39, 75, 0.06), 0px 12px 10px -4px rgba(24, 39, 75, 0.04);
}
.button_ghost {
  border: 2px solid;
  padding: 14px 30px;
}
.button_ghost:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 6px 8px -4px rgba(24, 39, 75, 0.06), 0px 12px 10px -4px rgba(24, 39, 75, 0.04);
          box-shadow: 0px 6px 8px -4px rgba(24, 39, 75, 0.06), 0px 12px 10px -4px rgba(24, 39, 75, 0.04);
}
.button_reverse:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 6px 8px -4px rgba(24, 39, 75, 0.06), 0px 12px 10px -4px rgba(24, 39, 75, 0.04);
          box-shadow: 0px 6px 8px -4px rgba(24, 39, 75, 0.06), 0px 12px 10px -4px rgba(24, 39, 75, 0.04);
}
@media (max-width: 576px) {
  .button {
    width: 100%;
  }
}

.features-01__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 64px;
  padding-top: 95px;
  padding-bottom: 103px;
}
@media (max-width: 576px) {
  .features-01__container {
    padding: 64px 16px;
  }
}
.features-01__top-contaniner {
  max-width: 600px;
  margin: 0 auto;
}
.features-01__title {
  text-align: center;
  margin-bottom: 16px;
}
.features-01__subtitle {
  max-width: 460px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 88px;
}
.features-01__bottom-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 900px) {
  .features-01__bottom-container {
    row-gap: 64px;
  }
  .features-01__bottom-container .features-01__feature-item {
    width: 41.6666666667%;
    max-width: none;
  }
}
@media (max-width: 576px) {
  .features-01__bottom-container .features-01__feature-item {
    width: 100%;
  }
}
.feature-item {
  max-width: 230px;
  width: 21.6165413534%;
}
.feature-item__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.feature-item__top-container {
  margin-bottom: 16px;
}
.feature-item__icon {
  line-height: 0;
}
.feature-item__icon svg {
  height: 40px;
  width: auto;
}
.feature-item__link {
  padding: 8px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.feature-item__link svg path {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.feature-item__link:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.feature-item__link:hover .feature-item__link-icon {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}
.feature-item__link-text {
  margin-right: 8px;
}
.feature-item__link-icon {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}
@media (max-width: 900px) {
  .gallery__left-content {
    text-align: center;
  }
}
.gallery__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
  padding: 0 64px;
  padding-top: 90px;
  padding-bottom: 64px;
}
@media (max-width: 900px) {
  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 64px;
  }
}
@media (max-width: 576px) {
  .gallery__container {
    padding: 64px 16px;
  }
}
.gallery__left-content {
  max-width: 450px;
}
.gallery__text-box {
  margin-bottom: 40px;
}
.gallery__title {
  margin-bottom: 16px;
}
.gallery__right-content {
  width: 49.1319444444%;
  position: relative;
}
.gallery__right-content img {
  width: 100%;
}
.gallery__right-content .image {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 900px) {
  .gallery__right-content {
    width: 100%;
  }
}
.gallery_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
@media (max-width: 900px) {
  .gallery_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cta__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 76px 64px;
}
@media (max-width: 576px) {
  .cta__container {
    padding: 64px 16px;
  }
}
.cta__content {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.cta__text {
  margin-bottom: 40px;
}
.cta__title {
  text-align: center;
  margin-bottom: 16px;
}
.cta__subtitle {
  text-align: center;
}
.footer__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 64px;
  padding-top: 64px;
}
@media (max-width: 576px) {
  .footer__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 64px;
}
@media (max-width: 1000px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__description {
  max-width: 16.9270833333%;
}
@media (max-width: 1000px) {
  .footer__description {
    max-width: 265px;
  }
}
.footer__logo {
  margin-bottom: 16px;
  display: inline-block;
  cursor: pointer;
  line-height: 0;
}
.footer__logo svg {
  height: 34px;
  width: auto;
}
.footer__links {
  width: 39.5833333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__links__links-column {
  width: 29.1828793774%;
}
@media (max-width: 1000px) {
  .footer__links {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    row-gap: 64px;
  }
}
.footer__h3-title {
  margin-bottom: 24px;
}
.footer__list-item {
  margin-bottom: 8px;
}
.footer__list-item:last-child {
  margin-bottom: 0;
}
.footer__link {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 24px;
}
@media (max-width: 576px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
  }
}
.footer__additional-info {
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.image {
  visibility: hidden;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.first-section {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

path {
  -webkit-transition: fill 0.15s ease, stroke 0.15s ease;
  transition: fill 0.15s ease, stroke 0.15s ease;
}

body, .cta, .footer, .last-section, .features-01, .gallery {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

h1, h2, h3, .subtitle, .emphasis, .accent-word, .footer__description-text, .feature-item__subtitle {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.footer__bottom {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.navigation__link {
  -webkit-transition: opacity 0.15s ease, color 0.15s ease;
  transition: opacity 0.15s ease, color 0.15s ease;
}

body.style-1 {
  color: #2B2E4A;
}
body.style-1 .first-section {
  background: #fff;
}
body.style-1 .img-1 {
  visibility: visible;
  opacity: 1;
}
body.style-1 .navigation__mobile-menu {
  background: #fff;
}
body.style-1 .navigation__logo-image path {
  fill: #3742FA;
}
body.style-1 .navigation__name {
  color: #2B2E4A;
}
body.style-1 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-1 .navigation .dribbble-logo path:last-child {
  fill: #2B2E4A;
}
body.style-1 .navigation .linkedin-logo path {
  fill: #2B2E4A;
}
body.style-1 .navigation__burger:before, body.style-1 .navigation__burger:after, body.style-1 .navigation__burger span {
  background-color: #2B2E4A;
}
body.style-1 .accent-word {
  color: #3742FA;
}
body.style-1 .button {
  background-color: #3742FA;
  color: #fff;
}
body.style-1 .button_ghost {
  background: #fff;
  color: #3742FA;
}
body.style-1 .button_ghost:hover {
  color: #2E38EA;
}
body.style-1 .button_primary:hover {
  background-color: #2E38EA;
}
body.style-1 .button_reverse {
  background: #fff;
  color: #2B2E4A;
}
body.style-1 .button_reverse:hover {
  background-color: #F4F5F6;
}
body.style-1 .features-01 {
  background-color: #F4F5F6;
}
body.style-1 .feature-item__link {
  color: #3742FA;
}
body.style-1 .feature-item__link:hover {
  color: #2E38EA;
}
body.style-1 .feature-item__link:hover path {
  stroke: #2E38EA;
}
body.style-1 .feature-item__link-icon path {
  stroke: #3742FA;
}
body.style-1 .feature-item__icon path {
  fill: #3742FA;
}
body.style-1 .emphasis {
  color: #3742FA;
}
body.style-1 .cta {
  background: #3742FA;
  color: #fff;
}
body.style-1 .cta__subtitle {
  color: #fff;
}
body.style-1 .cta__title {
  color: #fff;
}
body.style-1 .footer {
  background-color: #F4F5F6;
  color: #2B2E4A;
}
body.style-1 .footer__description-text {
  color: #6E6F81;
}
body.style-1 .footer__link {
  color: #2B2E4A;
}
body.style-1 .footer__bottom {
  border-top: 1px solid rgba(43, 46, 74, 0.2);
}
body.style-1 .footer__author {
  color: #6E6F81;
}
body.style-1 .footer__info {
  color: #6E6F81;
}
body.style-1 .footer__logo path {
  fill: #3742FA;
}

body.style-2 {
  color: #676B6F;
  background: #F1F5F8;
}
body.style-2 h1, body.style-2 h2, body.style-2 h3 {
  color: #172126;
}
body.style-2 .img-2 {
  visibility: visible;
  opacity: 1;
}
body.style-2 .navigation__mobile-menu {
  background: #F1F5F8;
}
body.style-2 .navigation__logo-image path {
  fill: #EE5253;
}
body.style-2 .navigation__name {
  color: #172126;
}
body.style-2 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-2 .navigation .dribbble-logo path:last-child {
  fill: #172126;
}
body.style-2 .navigation .linkedin-logo path {
  fill: #172126;
}
body.style-2 .navigation__burger:before, body.style-2 .navigation__burger:after, body.style-2 .navigation__burger span {
  background-color: #172126;
}
body.style-2 .navigation__link {
  color: #172126;
}
body.style-2 .accent-word {
  color: #EE5253;
}
body.style-2 .button {
  background-color: #EE5253;
  color: #F1F5F8;
}
body.style-2 .button_ghost {
  background: #F1F5F8;
  color: #EE5253;
}
body.style-2 .button_ghost:hover {
  color: #D44445;
}
body.style-2 .button_primary:hover {
  background-color: #D44445;
}
body.style-2 .button_reverse {
  background-color: #EE5253;
  color: #F1F5F8;
}
body.style-2 .button_reverse:hover {
  background-color: #D44445;
}
body.style-2 .features-01 {
  background-color: #E9EEF2;
}
body.style-2 .feature-item__link {
  color: #EE5253;
}
body.style-2 .feature-item__link:hover {
  color: #D44445;
}
body.style-2 .feature-item__link:hover path {
  stroke: #D44445;
}
body.style-2 .feature-item__link-icon path {
  stroke: #EE5253;
}
body.style-2 .feature-item__icon path {
  fill: #EE5253;
}
body.style-2 .emphasis {
  color: #EE5253;
}
body.style-2 .cta {
  background: #172126;
}
body.style-2 .cta__subtitle {
  color: #8B9EA9;
}
body.style-2 .cta__title {
  color: #F4F5F6;
}
body.style-2 .footer {
  background-color: #172126;
}
body.style-2 .footer__description-text {
  color: #8B9EA9;
}
body.style-2 .footer__link {
  color: #8B9EA9;
}
body.style-2 .footer__h3-title {
  color: #F1F5F8;
}
body.style-2 .footer__bottom {
  border-top: 1px solid rgba(139, 158, 169, 0.2);
}
body.style-2 .footer__author {
  color: #8B9EA9;
}
body.style-2 .footer__info {
  color: #8B9EA9;
}
body.style-2 .footer__logo path {
  fill: #F1F5F8;
}
body.style-2 .last-section {
  background-color: #172126;
}

body.style-3 {
  color: #93A3B6;
  background: #1E1633;
}
body.style-3 h1, body.style-3 h2, body.style-3 h3 {
  color: #FEF8FD;
}
body.style-3 .first-section {
  background: #130F40;
}
body.style-3 .img-3 {
  visibility: visible;
  opacity: 1;
}
body.style-3 .navigation__mobile-menu {
  background: #130F40;
}
body.style-3 .navigation__logo-image path {
  fill: #ffec78;
}
body.style-3 .navigation__name {
  color: #FEF8FD;
}
body.style-3 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-3 .navigation .dribbble-logo path:last-child {
  fill: #FEF8FD;
}
body.style-3 .navigation .linkedin-logo path {
  fill: #FEF8FD;
}
body.style-3 .navigation__burger:before, body.style-3 .navigation__burger:after, body.style-3 .navigation__burger span {
  background-color: #FEF8FD;
}
body.style-3 .navigation__link {
  color: #FEF8FD;
}
body.style-3 .accent-word {
  color: #ffec78;
}
body.style-3 .button {
  background-color: #ffec78;
  color: #1E1633;
}
body.style-3 .button_ghost {
  background: #1E1633;
  color: #ffec78;
}
body.style-3 .button_ghost:hover {
  color: #F3DA42;
}
body.style-3 .button_primary:hover {
  background-color: #F3DA42;
}
body.style-3 .button_reverse {
  background-color: #1E1633;
  color: #FEF8FD;
}
body.style-3 .button_reverse:hover {
  background-color: #140F22;
}
body.style-3 .features-01 {
  background-color: #1E1633;
}
body.style-3 .feature-item__link {
  color: #ffec78;
}
body.style-3 .feature-item__link:hover {
  color: #F3DA42;
}
body.style-3 .feature-item__link:hover path {
  stroke: #F3DA42;
}
body.style-3 .feature-item__link-icon path {
  stroke: #ffec78;
}
body.style-3 .feature-item__icon path {
  fill: #ffec78;
}
body.style-3 .emphasis {
  color: #ffec78;
}
body.style-3 .cta {
  background: #ffec78;
}
body.style-3 .cta__subtitle {
  color: #1E1633;
}
body.style-3 .cta__title {
  color: #1E1633;
}
body.style-3 .footer {
  background-color: #1E1633;
}
body.style-3 .footer__description-text {
  color: #93A3B6;
}
body.style-3 .footer__link {
  color: #93A3B6;
}
body.style-3 .footer__h3-title {
  color: #FEF8FD;
}
body.style-3 .footer__bottom {
  border-top: 1px solid #343642;
}
body.style-3 .footer__author {
  color: #93A3B6;
}
body.style-3 .footer__info {
  color: #93A3B6;
}
body.style-3 .footer__logo path {
  fill: #ffec78;
}

body.style-4 {
  color: #6C6D7F;
  background: #fff;
}
body.style-4 h1, body.style-4 h2, body.style-4 h3 {
  color: #2B2E4A;
}
body.style-4 .first-section {
  background: #F2F2F2;
}
body.style-4 .img-4 {
  visibility: visible;
  opacity: 1;
}
body.style-4 .navigation__mobile-menu {
  background: #F2F2F2;
}
body.style-4 .navigation__logo-image path {
  fill: #e91e63;
}
body.style-4 .navigation__name {
  color: #2B2E4A;
}
body.style-4 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-4 .navigation .dribbble-logo path:last-child {
  fill: #2B2E4A;
}
body.style-4 .navigation .linkedin-logo path {
  fill: #2B2E4A;
}
body.style-4 .navigation__burger:before, body.style-4 .navigation__burger:after, body.style-4 .navigation__burger span {
  background-color: #2B2E4A;
}
body.style-4 .navigation__link {
  color: #2B2E4A;
}
body.style-4 .accent-word, body.style-4 .accent-word2 {
  color: #e91e63;
}
body.style-4 .button {
  background-color: #2B2E4A;
  color: #fff;
}
body.style-4 .button_ghost {
  background: #fff;
  color: #2B2E4A;
}
body.style-4 .button_ghost:hover {
  color: #1C1E33;
}
body.style-4 .button_primary:hover {
  background-color: #1C1E33;
}
body.style-4 .button_reverse {
  background-color: #2B2E4A;
  color: #fff;
}
body.style-4 .button_reverse:hover {
  background-color: #1C1E33;
}
body.style-4 .features-01 {
  background-color: #fff;
}
body.style-4 .feature-item__link {
  color: #2B2E4A;
}
body.style-4 .feature-item__link:hover {
  color: #1C1E33;
}
body.style-4 .feature-item__link:hover path {
  stroke: #1C1E33;
}
body.style-4 .feature-item__link-icon path {
  stroke: #2B2E4A;
}
body.style-4 .feature-item__icon path {
  fill: #e91e63;
}
body.style-4 .emphasis {
  color: #e91e63;
}
body.style-4 .footer__link {
  color: #6C6D7F;
}
body.style-4 .footer__bottom {
  border-top: 1px solid rgba(43, 46, 74, 0.2);
}
body.style-4 .footer__info {
  color: #6C6D7F;
}
body.style-4 .footer__logo path {
  fill: #e91e63;
}

body.style-5 {
  color: #000;
  background: #ffe169;
}
body.style-5 h1, body.style-5 h2, body.style-5 h3 {
  color: #000;
}
body.style-5 .img-5 {
  visibility: visible;
  opacity: 1;
}
body.style-5 .navigation__mobile-menu {
  background: #ffe169;
}
body.style-5 .navigation__logo-image path {
  fill: #000;
}
body.style-5 .navigation__name {
  color: #000;
}
body.style-5 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-5 .navigation .dribbble-logo path:last-child {
  fill: #000;
}
body.style-5 .navigation .linkedin-logo path {
  fill: #000;
}
body.style-5 .navigation__burger:before, body.style-5 .navigation__burger:after, body.style-5 .navigation__burger span {
  background-color: #000;
}
body.style-5 .navigation__link {
  color: #000;
}
body.style-5 .hero .accent-word {
  color: #fff;
}
body.style-5 .features-01 .accent-word {
  color: #ffe169;
}
body.style-5 .button {
  background-color: #000;
  color: #fff;
}
body.style-5 .button_ghost {
  background: #ffe169;
  color: #000;
}
body.style-5 .button_ghost:hover {
  color: #303030;
}
body.style-5 .button_primary:hover {
  background-color: #303030;
}
body.style-5 .button_reverse {
  background-color: #ffe169;
  color: #000;
}
body.style-5 .button_reverse:hover {
  background-color: #EDCE55;
}
body.style-5 .features-01 {
  background-color: #000;
}
body.style-5 .features-01__title {
  color: #fff;
}
body.style-5 .features-01__subtitle {
  color: #fff;
}
body.style-5 .feature-item__link {
  color: #ffe169;
}
body.style-5 .feature-item__link:hover {
  color: #EDCE55;
}
body.style-5 .feature-item__link:hover path {
  stroke: #EDCE55;
}
body.style-5 .feature-item__link-icon path {
  stroke: #ffe169;
}
body.style-5 .feature-item__icon path {
  fill: #ffe169;
}
body.style-5 .feature-item__subtitle {
  color: #fff;
}
body.style-5 .feature-item__h3-title {
  color: #fff;
}
body.style-5 .emphasis {
  color: #000;
}
body.style-5 .cta__subtitle {
  color: #fff;
}
body.style-5 .cta__title {
  color: #fff;
}
body.style-5 .footer__description-text {
  color: #999999;
}
body.style-5 .footer__link {
  color: #999999;
}
body.style-5 .footer__h3-title {
  color: #fff;
}
body.style-5 .footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
body.style-5 .footer__author {
  color: #999999;
}
body.style-5 .footer__info {
  color: #999999;
}
body.style-5 .footer__logo path {
  fill: #ffe169;
}
body.style-5 .last-section {
  background: #000;
}

body.style-6 {
  color: #434157;
  background: #fff;
}
body.style-6 h1, body.style-6 h2, body.style-6 h3 {
  color: #040320;
}
body.style-6 .first-section {
  background: #F3EFFD;
}
body.style-6 .img-6 {
  visibility: visible;
  opacity: 1;
}
body.style-6 .navigation__mobile-menu {
  background: #F3EFFD;
}
body.style-6 .navigation__logo-image path {
  fill: #4834d4;
}
body.style-6 .navigation__name {
  color: #040320;
}
body.style-6 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-6 .navigation .dribbble-logo path:last-child {
  fill: #040320;
}
body.style-6 .navigation .linkedin-logo path {
  fill: #040320;
}
body.style-6 .navigation__burger:before, body.style-6 .navigation__burger:after, body.style-6 .navigation__burger span {
  background-color: #040320;
}
body.style-6 .navigation__link {
  color: #040320;
}
body.style-6 .hero .accent-word {
  color: #4834d4;
}
body.style-6 .button {
  background-color: #4834d4;
  color: #fff;
}
body.style-6 .button_ghost {
  background: #fff;
  color: #4834d4;
}
body.style-6 .button_ghost:hover {
  color: #2A14C3;
}
body.style-6 .button_primary:hover {
  background-color: #2A14C3;
}
body.style-6 .button_reverse {
  background-color: #4834d4;
  color: #fff;
}
body.style-6 .button_reverse:hover {
  background-color: #2A14C3;
}
body.style-6 .features-01 {
  background-color: #4834d4;
}
body.style-6 .features-01__title {
  color: #fff;
}
body.style-6 .features-01__subtitle {
  color: #DBD5F0;
}
body.style-6 .feature-item__link {
  color: #fff;
}
body.style-6 .feature-item__link:hover {
  color: #DBD5F0;
}
body.style-6 .feature-item__link:hover path {
  stroke: #DBD5F0;
}
body.style-6 .feature-item__link-icon path {
  stroke: #fff;
}
body.style-6 .feature-item__icon path {
  fill: #fff;
}
body.style-6 .feature-item__subtitle {
  color: #DBD5F0;
}
body.style-6 .feature-item__h3-title {
  color: #fff;
}
body.style-6 .emphasis {
  color: #4834d4;
}
body.style-6 .footer__description-text {
  color: #9391A5;
}
body.style-6 .footer__link {
  color: #434157;
}
body.style-6 .footer__h3-title {
  color: #040320;
}
body.style-6 .footer__bottom {
  border-top: 1px solid rgba(4, 3, 32, 0.2);
}
body.style-6 .footer__author {
  color: #9391A5;
}
body.style-6 .footer__info {
  color: #9391A5;
}
body.style-6 .footer__logo path {
  fill: #4834d4;
}
body.style-6 .last-section {
  background: #F3EFFD;
}

body.style-7 {
  color: #787D82;
  background: #000;
}
body.style-7 h1, body.style-7 h2, body.style-7 h3 {
  color: #F8FAFC;
}
body.style-7 .first-section {
  background: #000;
}
body.style-7 .img-7 {
  visibility: visible;
  opacity: 1;
}
body.style-7 .navigation__mobile-menu {
  background: #000;
}
body.style-7 .navigation__logo-image path {
  fill: #E6398F;
}
body.style-7 .navigation__name {
  color: #F8FAFC;
}
body.style-7 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-7 .navigation .dribbble-logo path:last-child {
  fill: #F8FAFC;
}
body.style-7 .navigation .linkedin-logo path {
  fill: #F8FAFC;
}
body.style-7 .navigation__burger:before, body.style-7 .navigation__burger:after, body.style-7 .navigation__burger span {
  background-color: #F8FAFC;
}
body.style-7 .navigation__link {
  color: #F8FAFC;
}
body.style-7 .accent-word {
  background: -webkit-gradient(linear, left top, right top, from(#7B5BC7), to(#EA388D));
  background: linear-gradient(90deg, #7B5BC7 0%, #EA388D 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
body.style-7 .button {
  background: -webkit-gradient(linear, left top, right top, from(#7B5BC7), to(#EA388D));
  background: linear-gradient(90deg, #7B5BC7 0%, #EA388D 100%);
  color: #fff;
}
body.style-7 .button_primary:hover {
  opacity: 0.85;
}
body.style-7 .button_reverse {
  background: #000;
  color: #F8FAFC;
}
body.style-7 .button_reverse:hover {
  opacity: 0.85;
}
body.style-7 .gallery-1 .button_ghost {
  background: #000;
  color: #41FA56;
}
body.style-7 .gallery-1 .button_ghost:hover {
  color: #2BDA3F;
}
body.style-7 .gallery-2 .button_ghost {
  background: #000;
  color: #FB6856;
}
body.style-7 .gallery-2 .button_ghost:hover {
  color: #E24F3D;
}
body.style-7 .features-01 {
  background-color: #000;
}
body.style-7 .features-01__title {
  color: #F8FAFC;
}
body.style-7 .features-01__subtitle {
  color: #787D82;
}
body.style-7 .feature-item__link {
  color: #F8FAFC;
}
body.style-7 .feature-item__link:hover {
  color: #C3C3C3;
}
body.style-7 .feature-item__link:hover path {
  stroke: #C3C3C3;
}
body.style-7 .feature-item__link-icon path {
  stroke: #F8FAFC;
}
body.style-7 .feature-item__icon path {
  fill: #E6398F;
}
body.style-7 .feature-item__subtitle {
  color: #787D82;
}
body.style-7 .feature-item__h3-title {
  color: #F8FAFC;
}
body.style-7 .gallery-1 .emphasis {
  background: -webkit-gradient(linear, left top, right top, from(#3FFA56), to(#E4E64D));
  background: linear-gradient(90deg, #3FFA56 0%, #E4E64D 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
body.style-7 .gallery-2 .emphasis {
  background: -webkit-gradient(linear, left top, right top, from(#FF3D63), to(#F88B4B));
  background: linear-gradient(90deg, #FF3D63 0%, #F88B4B 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
body.style-7 .cta {
  background: -webkit-gradient(linear, left top, right top, from(#7B5BC7), to(#EA388D));
  background: linear-gradient(90deg, #7B5BC7 0%, #EA388D 100%);
}
body.style-7 .cta__subtitle {
  color: #F8FAFC;
}
body.style-7 .cta__title {
  color: #F8FAFC;
}
body.style-7 .footer {
  background: #000;
}
body.style-7 .footer__link {
  color: #787D82;
}
body.style-7 .footer__bottom {
  border-top: 1px solid rgba(248, 250, 252, 0.4);
}
body.style-7 .footer__info {
  color: #787D82;
}
body.style-7 .footer__logo path {
  fill: #E6398F;
}
body.style-8 {
  color: #646476;
  background: #F5F5F5;
}
body.style-8 h1, body.style-8 h2, body.style-8 h3 {
  color: #040320;
}
body.style-8 .first-section {
  background: #F5F5F5;
}
body.style-8 .img-8 {
  visibility: visible;
  opacity: 1;
}
body.style-8 .navigation__mobile-menu {
  background: #F5F5F5;
}
body.style-8 .navigation__logo-image path {
  fill: #040320;
}
body.style-8 .navigation__name {
  color: #040320;
}
body.style-8 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-8 .navigation .dribbble-logo path:last-child {
  fill: #040320;
}
body.style-8 .navigation .linkedin-logo path {
  fill: #040320;
}
body.style-8 .navigation__burger:before, body.style-8 .navigation__burger:after, body.style-8 .navigation__burger span {
  background-color: #040320;
}
body.style-8 .navigation__link {
  color: #040320;
}
body.style-8 .button {
  background-color: #040320;
  color: #F5F5F5;
}
body.style-8 .button_ghost {
  background: #F5F5F5;
  color: #040320;
}
body.style-8 .button_ghost:hover {
  opacity: 0.7;
}
body.style-8 .button_primary:hover {
  opacity: 0.85;
}
body.style-8 .button_reverse {
  background-color: #040320;
  color: #F5F5F5;
}
body.style-8 .button_reverse:hover {
  opacity: 0.85;
}
body.style-8 .features-01 {
  background-color: #EEEEEE;
}
body.style-8 .features-01__title {
  color: #040320;
}
body.style-8 .features-01__subtitle {
  color: #646476;
}
body.style-8 .feature-item__link {
  color: #040320;
}
body.style-8 .feature-item__link:hover {
  opacity: 0.7;
}
body.style-8 .feature-item__link:hover path {
  opacity: 0.7;
}
body.style-8 .feature-item__link-icon path {
  stroke: #040320;
}
body.style-8 .feature-item__icon path {
  fill: #040320;
}
body.style-8 .feature-item__subtitle {
  color: #646476;
}
body.style-8 .feature-item__h3-title {
  color: #040320;
}
body.style-8 .emphasis {
  color: #040320;
}
body.style-8 .cta {
  background: #EEEEEE;
}
body.style-8 .footer__link {
  color: #646476;
}
body.style-8 .footer__bottom {
  border-top: 1px solid rgba(4, 3, 32, 0.2);
}
body.style-8 .footer__info {
  color: #646476;
}
body.style-8 .footer__logo path {
  fill: #040320;
}
body.style-9 {
  color: #666A7B;
  background: #FAFAFA;
}
body.style-9 h1, body.style-9 h2, body.style-9 h3 {
  color: #2B2E4A;
}
body.style-9 .first-section {
  background: #FAFAFA;
}
body.style-9 .img-9 {
  visibility: visible;
  opacity: 1;
}
body.style-9 .navigation__mobile-menu {
  background: #FAFAFA;
}
body.style-9 .navigation__logo-image path {
  fill: #05c46b;
}
body.style-9 .navigation__name {
  color: #2B2E4A;
}
body.style-9 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-9 .navigation .dribbble-logo path:last-child {
  fill: #2B2E4A;
}
body.style-9 .navigation .linkedin-logo path {
  fill: #2B2E4A;
}
body.style-9 .navigation__burger:before, body.style-9 .navigation__burger:after, body.style-9 .navigation__burger span {
  background-color: #2B2E4A;
}
body.style-9 .navigation__link {
  color: #2B2E4A;
}
body.style-9 .accent-word {
  color: #05c46b;
}
body.style-9 .button {
  background-color: #05c46b;
  color: #FAFAFA;
}
body.style-9 .button_ghost {
  background: #FAFAFA;
  color: #05c46b;
}
body.style-9 .button_ghost:hover {
  color: #0AA65D;
}
body.style-9 .button_primary:hover {
  background-color: #0AA65D;
}
body.style-9 .button_reverse {
  background: #FAFAFA;
  color: #2B2E4A;
}
body.style-9 .button_reverse:hover {
  background-color: #ECECEC;
}
body.style-9 .features-01 {
  background-color: #F0F5ED;
}
body.style-9 .feature-item__link {
  color: #05c46b;
}
body.style-9 .feature-item__link:hover {
  color: #0AA65D;
}
body.style-9 .feature-item__link:hover path {
  stroke: #0AA65D;
}
body.style-9 .feature-item__link-icon path {
  stroke: #05c46b;
}
body.style-9 .feature-item__icon path {
  fill: #05c46b;
}
body.style-9 .emphasis {
  color: #05c46b;
}
body.style-9 .cta {
  background: #05c46b;
  color: #FAFAFA;
}
body.style-9 .cta__subtitle {
  color: #FAFAFA;
}
body.style-9 .cta__title {
  color: #FAFAFA;
}
body.style-9 .footer__link {
  color: #666A7B;
}
body.style-9 .footer__bottom {
  border-top: 1px solid rgba(43, 46, 74, 0.12);
}
body.style-9 .footer__author {
  color: #BFC0C7;
}
body.style-9 .footer__info {
  color: #BFC0C7;
}
body.style-9 .footer__logo path {
  fill: #05c46b;
}

body.style-10 {
  color: #2B2E4A;
  background: #fff;
}
body.style-10 h1, body.style-10 h2, body.style-10 h3 {
  color: #2B2E4A;
}
body.style-10 .first-section {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.64%, #1498EB), to(#962DE3));
  background: linear-gradient(90deg, #1498EB 1.64%, #962DE3 100%);
}
body.style-10 .hero__title, body.style-10 .hero__subtitle {
  color: #fff;
}
body.style-10 .img-10 {
  visibility: visible;
  opacity: 1;
}
body.style-10 .navigation__mobile-menu {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.64%, #1498EB), to(#962DE3));
  background: linear-gradient(90deg, #1498EB 1.64%, #962DE3 100%);
}
body.style-10 .navigation__logo-image path {
  fill: #fff;
}
body.style-10 .navigation__name {
  color: #fff;
}
body.style-10 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-10 .navigation .dribbble-logo path:last-child {
  fill: #fff;
}
body.style-10 .navigation .linkedin-logo path {
  fill: #fff;
}
body.style-10 .navigation__burger:before, body.style-10 .navigation__burger:after, body.style-10 .navigation__burger span {
  background-color: #fff;
}
body.style-10 .navigation__link {
  color: #fff;
}
body.style-10 .features-01 .accent-word {
  color: #3867D6;
}
body.style-10 .button {
  background: #fff;
  color: #2B2E4A;
}
body.style-10 .button_primary:hover {
  background-color: #EBEBEB;
}
body.style-10 .button_reverse {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.64%, #1498EB), to(#962DE3));
  background: linear-gradient(90deg, #1498EB 1.64%, #962DE3 100%);
  color: #fff;
}
body.style-10 .button_reverse:hover {
  opacity: 0.85;
}
body.style-10 .gallery-1 .button_ghost {
  background: #F0F4FF;
  color: #3867D6;
}
body.style-10 .gallery-1 .button_ghost:hover {
  color: #2955BB;
}
body.style-10 .gallery-2 .button_ghost {
  background: #F8F0FF;
  color: #9030DD;
}
body.style-10 .gallery-2 .button_ghost:hover {
  color: #7A23C0;
}
body.style-10 .features-01 {
  background-color: #fff;
}
body.style-10 .features-01__title {
  color: #2B2E4A;
}
body.style-10 .features-01__subtitle {
  color: #2B2E4A;
}
body.style-10 .feature-item__link {
  color: #3867D6;
}
body.style-10 .feature-item__link:hover {
  color: #2955BB;
}
body.style-10 .feature-item__link:hover path {
  stroke: #2955BB;
}
body.style-10 .feature-item__link-icon path {
  stroke: #3867D6;
}
body.style-10 .feature-item__icon path {
  fill: #3867D6;
}
body.style-10 .feature-item__subtitle {
  color: #2B2E4A;
}
body.style-10 .feature-item__h3-title {
  color: #2B2E4A;
}
body.style-10 .gallery-1 .emphasis {
  color: #3867D6;
}
body.style-10 .gallery-2 .emphasis {
  color: #9030DD;
}
body.style-10 .gallery-1 {
  background: #F0F4FF;
}
body.style-10 .gallery-2 {
  background: #F8F0FF;
}
body.style-10 .cta {
  background: #fff;
}
body.style-10 .cta__subtitle {
  color: #2B2E4A;
}
body.style-10 .cta__title {
  color: #2B2E4A;
}
body.style-10 .footer {
  background: #F9F9FB;
}
body.style-10 .footer__description-text {
  color: #6E6F81;
}
body.style-10 .footer__link {
  color: #2B2E4A;
}
body.style-10 .footer__bottom {
  border-top: 1px solid #D5D5DB;
}
body.style-10 .footer__author {
  color: #6E6F81;
}
body.style-10 .footer__info {
  color: #6E6F81;
}
body.style-10 .footer__logo path {
  fill: #3867D6;
}
body.style-11 {
  color: #666A7B;
  background: #F2F8FF;
}
body.style-11 h1, body.style-11 h2, body.style-11 h3 {
  color: #0F4189;
}
body.style-11 .img-11 {
  visibility: visible;
  opacity: 1;
}
body.style-11 .navigation__mobile-menu {
  background: #F2F8FF;
}
body.style-11 .navigation__logo-image path {
  fill: #0F4189;
}
body.style-11 .navigation__name {
  color: #0F4189;
}
body.style-11 .navigation .dribbble-logo path:first-child {
  fill: none;
}
body.style-11 .navigation .dribbble-logo path:last-child {
  fill: #0F4189;
}
body.style-11 .navigation .linkedin-logo path {
  fill: #0F4189;
}
body.style-11 .navigation__burger:before, body.style-11 .navigation__burger:after, body.style-11 .navigation__burger span {
  background-color: #0F4189;
}
body.style-11 .navigation__link {
  color: #0F4189;
}
body.style-11 .button {
  background-color: #ff793f;
  color: #fff;
}
body.style-11 .button_ghost {
  background: #F2F8FF;
  color: #ff793f;
}
body.style-11 .button_ghost:hover {
  color: #F1662A;
}
body.style-11 .button_primary:hover {
  background-color: #F1662A;
}
body.style-11 .button_reverse {
  background-color: #ff793f;
  color: #fff;
}
body.style-11 .button_reverse:hover {
  background-color: #F1662A;
}
body.style-11 .features-01 {
  background-color: #fff;
}
body.style-11 .feature-item__link {
  color: #ff793f;
}
body.style-11 .feature-item__link:hover {
  color: #F1662A;
}
body.style-11 .feature-item__link:hover path {
  stroke: #F1662A;
}
body.style-11 .feature-item__link-icon path {
  stroke: #ff793f;
}
body.style-11 .feature-item__icon path {
  fill: #ff793f;
}
body.style-11 .emphasis {
  color: #ff793f;
}
body.style-11 .cta__subtitle {
  color: #87A0C4;
}
body.style-11 .cta__title {
  color: #fff;
}
body.style-11 .footer__description-text {
  color: #87A0C4;
}
body.style-11 .footer__link {
  color: #87A0C4;
}
body.style-11 .footer__h3-title {
  color: #fff;
}
body.style-11 .footer__bottom {
  border-top: 1px solid rgba(135, 160, 196, 0.3);
}
body.style-11 .footer__author {
  color: #87A0C4;
}
body.style-11 .footer__info {
  color: #87A0C4;
}
body.style-11 .footer__logo path {
  fill: #fff;
}
body.style-11 .footer .dribbble-logo path:first-child {
  fill: none;
}
body.style-11 .footer .dribbble-logo path:last-child {
  fill: #87A0C4;
}
body.style-11 .footer .linkedin-logo path {
  fill: #87A0C4;
}
body.style-11 .last-section {
  background-color: #0F4189;
}